[submodule "assets/src/bootstrap"]
	path = assets/src/bootstrap
	url = git://github.com/twitter/bootstrap.git
	ignore = untracked
[submodule "assets/src/fontawesome"]
	path = assets/src/fontawesome
	url = git://github.com/FortAwesome/Font-Awesome.git
	ignore = untracked
