---
nav_id: home
---

- articles_to_display = front_page_articles
- unless articles_to_display.empty?
  - hero = articles_to_display.slice!(0)
  = render('_frontpage_article', {:item => hero, :hero => true})
  - unless articles_to_display.empty?
    .row-fluid
      - articles_to_display.each do |article|
        = render('_frontpage_article', :item => article)
- else
  Non &egrave; presente nessun articolo :-(
