---
nav_id: home
---

%h2
  %i.icon-warning-sign.icon-large
  Work in progress

%p
  Al momento il blog non &egrave; tale, visto che mancano:

%ul
  %li la homepage con l'elenco degli ultimi N post (dovrebbe apparire qui!)
  %li l'archivio
  %li i tag
  %li le categorie
  %li l'highlight del codice
  %li pi&ugrave; in generale l'impaginazione dei post
  %li i contenuti!

%p
  Abbiate un po' di pazienza, sto lavorando (anche) per voi ;-)
