---
nav_id: home
---

- unless front_page_articles.empty?
  - front_page_articles.each_with_index do |article, i|
    - if i > 0
      %hr
    - content, has_more = article_summary(article)
    = render('_article_partial', {:item => article, :content => content, :embedded => true})
    - if has_more
      %p
        %a.btn.btn-default{:href => url_for(article)} Continua a leggere &raquo;
- else
  Non &egrave; presente nessun articolo :-(
