---
nav_id: home
---

.alert.alert-info
  %h2
    %i.icon-warning-sign.icon-large
    Work in progress

  %p
    Al momento il blog non &egrave; tale, visto che mancano:

  %ul
    %li l'archivio
    %li i tag
    %li le categorie
    %li
      pi&ugrave; in generale un'impaginazione
      %em decente
      dei post
    %li i contenuti!

  %p
    Abbiate un po' di pazienza, sto lavorando (anche) per voi ;-)

- unless articles.empty?
  - sorted_articles.each_with_index do |article, i|
    - if i > 0
      %hr
    = render('_article_partial', {:item => article, :content => article.compiled_content, :embedded => true})
- else
  Non &egrave; presente nessun articolo :-(
